
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background: #2c3e50;
    color: white;
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    background: #34495e;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 12px;
    text-align: center;
}

nav a:hover {
    background: #2c3e50;
}

main {
    padding: 10px;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    padding: 10px;
}

/* MOBIL */
.col-12 {
    width: 100%;
}


@media (min-width: 768px) {
    .col-md-6 {
        width: 50%;
    }

    nav {
        flex-direction: row;
        justify-content: center;
    }
}

/* PC */
@media (min-width: 1024px) {
    .col-lg-3 {
        width: 25%;
    }

    header {
        padding: 40px;
    }

    nav a {
        padding: 15px 25px;
    }
}

.card {
    background: #ecf0f1;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
}